<div class="card-wrapper mt-4">
    <div class="card mx-auto col-md-8 mb-3 bg-light d-none" id="communityElem">
        <div class="d-flex justify-content-between card-body flex-wrap">
            <h3 class="communityName">AASDFGHGFDSDFG</h3>
            <div class="subOrUnsub">
                <button type="button" class="btn subscribe btn-primary d-none">Подписаться</button>
                <button type="button" class="btn unsubscribe btn-danger d-none">Отписаться</button>
            </div>
        </div>
    </div>
</div>