<div class="card-wrapper">
  <div class="mx-auto mt-4 col-md-8 d-flex justify-content-end authorized d-none">
    <a href="/post/create" class="btn btn-primary">Написать пост</a>
  </div>
  <div class="card mx-auto mt-4 col-md-8">
    <div class="card-header">
      Фильтры
    </div>
    <div class="card-body">
      <form id="form-filter">
        <div class="row mt-3">
          <div class="col-md mb-3">
            <label for="searchByAuthors" class="form-label">Поиск по имени автора</label>
            <input type="text" class="form-control" id="searchByAuthors">
          </div>
          <div class="col-md mb-3">
            <label for="searchByTags" class="form-label">Поиск по тегам</label>
            <select class="form-select" size="3" id="searchByTags" multiple>
            </select>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-4 mb-3">
            <label for="sortingPosts" class="form-label">Сортировать</label>
            <select class="form-select" id="sortingPosts">
              <option value="CreateDesc">По дате создания (сначала новые)</option>
              <option value="CreateAsc">По дате создания (сначала старые)</option>
              <option value="LikeAsc">По количеству лайков (по возрастанию)</option>
              <option value="LikeDesc">По количеству лайков (по убывванию)</option>
            </select>
          </div>
          <div class="col-md mb-3">
            <label for="searchMinMinutes" class="form-label">Время чтения от</label>
            <input type="number" class="form-control" id="searchMinMinutes">
          </div>
          <div class="col-lg mb-3">
            <label for="searchMaxMinutes" class="form-label">Время чтения до</label>
            <input type="number" class="form-control" id="searchMaxMinutes">
          </div>
          <div class="col-lg authorized d-none mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckGroups">
              <label class="form-check-label" for="flexCheckGroups">
                Только мои группы
              </label>
            </div>
          </div>
          <div class="col-lg mb-3">
            <button type="submit" class="btn btn-primary" id="SaveFilter">Применить</button>
          </div>
        </div>
        <div class="text-center error-mes" style="display: none">Неверные данные</div>
      </form>
    </div>
  </div>
  <div class="card mx-auto mt-4 col-md-8 d-none" id="postCarts">
    <div class="card-body">
      <p class="card-text mb-3" id="user-text"></p>
      <h3 class="card-title mb-3" id="post-title"></h3>
      <div class="text-center d-none imgInDiv">
        <img src="" class="img-fluid mb-3" alt="">
      </div>
        <p class="card-text mb-3" id="post-text"></p>
        <p class="card-text mb-3 text-muted" id="tags-text"></p>
        <p class="card-text mb-3" id="time-text"></p>
        <p class="card-text mb-3 d-none" id="address-text"><i class="fas fa-compass"></i></p>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <p class="count-comments m-0">0</p>
        <button type="button" class="btn" id="text-comments" href="#"><i class="far fa-comment-dots"></i></button>
      </div>
      <div class="d-flex align-items-center">
        <p class="count-like m-0">0</p>
        <button type="button" class="btn" id="addOrDeleteLike"><i class="far fa-heart" id="hasLike"></i></button>
      </div>
    </div>
  </div>
  <div id="postsOnPage"></div>
  <div class="mx-auto col-md-8 d-flex justify-content-between flex-wrap">
    <nav class="mt-4">
      <ul class="pagination" id="pageDisplay">
      </ul>
    </nav>
    <div class="mt-2">
      <label for="sizePage" class="form-label">Число постов на странице</label>
      <input type="number" class="form-control" id="sizePage" min="0" value="5">
    </div>
  </div>
</div>