html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.sub-comments {
    border-left: 3px solid;
    border-color: #42AAFF;
}

.font-size-1-15 {
    font-size: 1.15rem;
}

.card {
    overflow: auto;
}